.navbar{
  width:100%;
}
.navbar{
  list-style: none;
   margin: 0;
   padding: 0;
}
.navbar li
{
  width:100px;
  height:40px;
  background-color: #A0A0A0;
display:block;
float:left;
}
.navbar li:hover
{
  background-color: #FF0000;
}
.centered{
  text-align: center;
}

#donatedescription{
  width:750px;
}

.marginscenter{
  margin-left: auto;
  margin-right: auto;
}
#donation-box{
  width: 48%;
  float:left;
  height: 300px;
}
#donation-box div{
  height: 150px;
}

.borders{
  border: 2px solid black;
}
.standard-image{
  width: 48%;
  float: left;
  height: 308px;
}

.borders li :hover{
  float:left;
}

.about-image{
  width: 25%;
  float: right;
  height:190px;
}
#aboutus{
  border: 2px solid black;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
#map{
width:500px;
height:500px;
margin: 10px auto;
border: 2px solid black
}
